*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-weight: 500;
    transition: all 0.25s;
}


header{
    display: flex;
    align-items: center;
    background-color: #ffeec1;
    padding: 5px 60px;
}
header img{
    max-width: 90px;
}
.don-header{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
nav{
    margin-left: 35%;
   
}
nav ul{
  display: flex;
  list-style: none;
}
ul li{
 margin: 15px;
}
ul li a{
 text-decoration: none;
 color: black;
 font-size: 20px;
}

/* deuxiéme partie de header */

.submenu{
    display: flex;
    border: 5px solid #ffeec1;
    background-color: #ffeec1;
    padding-top: 50px;
    justify-content: space-around;
    padding: 0 60px;
}
.submen-left{
    margin-right: 5px; 
}
.submen-right{
    margin-right: 5px;
}
.submen-left p{
    font-size: 5.5em;
    line-height: 80px;
 font-weight: bold;
}
.section-principal{
    display: flex;
    background-color: #edf9ff;
    justify-content: center;
}
.section-principal-right {
   margin-left: 10px;
}
.section-principal-right p {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section-principal-right a {
     text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
aside{
    display: flex;
    margin: 5px 100px;
}
.aside-left{
    margin-right: 15px;
}
.aside-left h1{
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 0;
}
.aside-left p{
    line-height: 35px;
    font-size: 18px;
}
.btn-atelier{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
.end-section-top{
    display: flex;
    margin-top: 10px;
    border: 5px solid red;
    width: 1450px;
}
.end-section-bottom{
    display: flex;
    border: 3px solid green;
}


/* Footer du site web */

footer{
    display: flex;
    border: 5px solid blue ;
}
