*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 25px 180px;
}
header{
    display: flex;
    align-items: center;
    border: 5px solid blue;
}
header img{
    max-width: 90px;
}
nav{
    margin-left: 45%;
   
}
nav ul{
  display: flex;
  list-style: none;
}
ul li{
 margin: 15px;
}
ul li a{
 text-decoration: none;
}

/* deuxiéme partie de header */

.submenu{
    display: flex;
    border: 5px solid red;
    margin-top: 50px;
}
.submen-left{
    border: 5px solid green;
    margin-right: 5px;
}
.submen-left p{
 font-size: 55px;
 font-weight: bold;
}
.section-principal{
    display: flex;
}
.section-principal-right {
   margin-left: 10px;
}
.section-principal-right p {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section-principal-right a {
     text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
aside{
    display: flex;
}
.aside-left{
    margin-right: 15px;
}
.aside-left h1{
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 0;
}
.aside-left p{
    line-height: 35px;
    font-size: 18px;
}

