*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-weight: 500;
    transition: all 0.25s;
}


header{
    display: flex;
    align-items: center;
    background-color: #ffeec1;
    padding: 5px 170px;
}
header img{
    max-width: 90px;
}
.don-header{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
nav{
    margin-left: 25%;
   
}
nav ul{
  display: flex;
  list-style: none;
}
ul li{
 margin: 15px;
}
ul li a{
 text-decoration: none;
 color: black;
 font-size: 20px;
}

/* deuxiéme partie de header */

.submenu{
    display: flex;
    border: 5px solid #ffeec1;
    background-color: #ffeec1;
    padding-top: 50px;
    justify-content: space-around;
    padding: 0 60px;
}
.submen-left{
    margin-right: 5px; 
}
.submen-right{
    margin-right: 5px;
}
.submen-left p{
    font-size: 5.5em;
    line-height: 80px;
 font-weight: bold;
}
.section-principal{
    display: flex;
    background-color: #edf9ff;
    justify-content: center;
}
.section-principal-right {
   margin-left: 10px;
}
.section-principal-right p {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section-principal-right a {
     text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
aside{
    display: flex;
    margin: 5px 100px;
    justify-content: center;
}
.aside-left{
    margin-right: 15px;
}
.aside-left h1{
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 0;
}
.aside-left p{
    line-height: 35px;
    font-size: 18px;
}
.btn-atelier{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}


.end-section-top{
    display: flex;
    margin: 10px 250px 
   
}

.two-round-end-section-top{
    display: flex;
    align-items: flex-end;
}
.logo-green{
    margin-left: -50%;
}
.round-red{
    margin-left: 15px;
}
.Soutien{
    font-size: 3rem;
}
.bloc-soutien{
    justify-content: center;
    margin-left: -55%;
}
.btn-don{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #309966;
    text-align: center;
    background-color: rgba(48, 153, 102, 0.06);
    font-size: 14px;
    color: #309966;
}
.design-fleche-verte{
    margin-left: 25%;
}




/* .end-section-bottom{
    border: 5px solid green;
} */

.end-section-bottom-left{
    display: flex;
    padding: 5px 10%;
}
.end-section-bottom-left-title{
    font-size: 2em;
    line-height: 40px;
}
.end-section-bottom-right{
    display: flex;
   padding: 5px 150px;
}
.end-section-bottom-right-sentence{
    line-height: 30px;
    font-size: 15px;
}











/* Footer du site web */

footer{
    display: flex;
    background-color: #ffeec1;
    justify-content: space-between;
}
.image-footer{
    width: 80%;
    margin-top: 95px;
}
.all-div-footer{
    display: flex;
    width: 135%;
    margin-top: 90px;
    margin-right: 200px;
}
.final-foot{
    margin: 5px 50px;
}
.fa-footer-logo{
    display: flex;
}
.fa-brands{
    background-color: #1778f2;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 8px;
}
.fa-instagram {
    background-color: red;
}
.grand-title{
    font-weight: bold;
    padding-bottom: 10px;
}